mkinit
mkinit.o
mknodes
mknodes.o
mksyntax
mksyntax.o
mksignames
mksignames.o
builtins.c
init.c
nodes.c
syntax.c
operators.c
signames.c
builtins.h
nodes.h
syntax.h
token.h
operators.h
signames.h
y.tab.h
*.gcno
*.gcda
lcov.sh
arith.c
arith_lex.c
arith.h
sh
